*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    display: inline-block;
    position: absolute;
    color: rgb(241, 227, 26);
    -webkit-text-stroke: 1px brown;
    top: 80px;
    left: 15%;
    z-index: 2;

}

nav{
    background-color: rgba(255, 255, 255, 0);
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid black; */
}

.nav-bar{
    text-decoration: none;
    margin: 0 5px;
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    display: inline-block;
    position: sticky;


}   
.nav-bar:hover{
    background-color: tomato;
}
.nav-bar:active{
    background-color: green;

}

.banner{
    z-index: -1;
    width: 100%;
    height: 500px;
    display: inline-block;
    animation: banner 6s infinite;
    align-items: center;
    margin: 0 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    
}

@keyframes banner{
    0%, 40%{        
        background-image: url(../img/design1_image1.jpg);
        opacity: 1; 
    }
    41%, 49%{
        opacity: 0.1;
    }
    50%, 90%{
        background-image: url(../img/design1_image2.jpg);
        opacity: 1; 
    }
    91%, 100%{
        opacity: 0.1;
    }

}

.titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /*border: 1px solid black;*/
    text-align: center;
    color: rgb(241, 227, 26);
    -webkit-text-stroke: 1px brown;
    text-transform: uppercase;

}

.col1{
    width: 25%;
    height: 300px;
    /* border: 1px solid black; */
    display: inline-block;
    background-image: url(../img/Logo_Mighty_ducks_01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.col2{
    width: 75%;
    /* border: 1px solid black; */
    display: inline-block;
    text-align: start;
    padding: 20px;
    font-size: large;
}
.col2 span{
    font-size: larger;
    font-weight: bold;   
}
.col2 p{
    font-size: large;
    margin: 0 0 0px 20px; 
}

 .row {
   display: flex;
   width: 100%;
 }